/* Define estilos básicos para o corpo (body) da página */
body {
    padding: 0;
    box-sizing: border-box;
    background-color: #7B00FF
}

/* Estiliza um container genérico, mas não está sendo usado para posicionar os elementos principais nesta folha de estilo. */
.container {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* Estiliza o título principal (h1) */
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding: 20px;

    /* Centraliza o título na tela */
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Adiciona uma sombra ao texto */
    text-shadow: 2px 2px 5px #888;
}

.btnsim {
    background-color: rgb(62, 179, 62);
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    /* Remove a borda padrão do botão */
    cursor: pointer;

    /* Posiciona o botão "Sim" na tela */
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 55px;

    /* Adiciona uma sombra ao botão para dar profundidade */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

/* Estiliza o botão "Não" */
.btnnhao {
    background: rgb(216, 46, 46);
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    /* Remove a borda padrão do botão */
    cursor: pointer;

    /* Posiciona o botão "Não" na tela. Atenção: 'top: center;' é inválido e não funcionará como esperado. Você provavelmente quis usar 'top: 50%;' */
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* Adiciona uma sombra ao botão */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 75px;  /* Largura fixa (ajuste este valor) */
    height: 55px; /* Altura fixa (ajuste este valor) */
    display: flex; /* Para centralizar o texto dentro do botão */
    justify-content: center;
    align-items: center;

}